.dark .table-cell-hover:hover {
  background: rgba(0, 77, 255, 0.3) !important;
}

.table-cell-hover:hover {
  background: rgba(0, 0, 0, 0.07) !important;
}

.table-sticky th:first-child,
.table-sticky td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background: #f5f7fa;
}

.dark .table-sticky th:first-child,
.table-sticky td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background: #0f111a;
}

#calendar > div.fc-view-harness.fc-view-harness-active > div {
  border: 0 !important;
}

.fc .fc-daygrid-more-link {
    border-radius: 3px;
    cursor: pointer;
    line-height: 1;
    margin-top: -1.2em;
    max-width: 100%;
    overflow: hidden;
    padding: 2px;
    position: relative;
    white-space: nowrap;
    z-index: 4;
}